Screen Time Post Processing
---

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series, ExcelFile, ExcelWriter
import datetime
import time

### Phase 1: Load Screen Timing for Subject 1 and Subject 2

In [3]:
phase_0_rows = 3*2
phase_1_rows = 12*2
phase_2_rows = 2*2
phase_3_rows = 11*2

total_rows = phase_0_rows + phase_1_rows + phase_2_rows + phase_3_rows
total_rows

56

In [4]:
subject_1_timing = pd.read_csv('data/timing_subject_1.csv', skipinitialspace=True, parse_dates=['time'])
assert len(subject_1_timing) == total_rows

In [5]:
subject_2_timing = pd.read_csv('data/timing_subject_2.csv', skipinitialspace=True, parse_dates=['time'])
assert len(subject_2_timing) == total_rows

In [6]:
screen_timing = subject_1_timing.append(subject_2_timing)
screen_timing = screen_timing.reset_index(drop=True)

In [7]:
screen_timing.rename(columns={'subject':'SubjectID', 'phase':'Phase'}, inplace=True)

In [8]:
screen_timing.head()

   SubjectID  state  Phase                       time
0          1  start      0 2018-01-19 17:52:42.999642
1          1   stop      0 2018-01-19 17:52:55.195631
2          1  start      0 2018-01-19 17:53:02.695930
3          1   stop      0 2018-01-19 17:53:15.302756
4          1  start      0 2018-01-19 17:53:22.896308

In [9]:
screen_timing.time = screen_timing.time.dt.tz_localize('utc')
screen_timing.time = screen_timing.time.dt.tz_convert('America/New_York')
screen_timing.head()

   SubjectID  state  Phase                             time
0          1  start      0 2018-01-19 12:52:42.999642-05:00
1          1   stop      0 2018-01-19 12:52:55.195631-05:00
2          1  start      0 2018-01-19 12:53:02.695930-05:00
3          1   stop      0 2018-01-19 12:53:15.302756-05:00
4          1  start      0 2018-01-19 12:53:22.896308-05:00

In [10]:
num_screens = len(screen_timing)
start_times = screen_timing.loc[[i for i in range(0, num_screens, 2)], 'time'].reset_index(drop=True)
stop_times = screen_timing.loc[[i for i in range(1, num_screens, 2)], 'time'].reset_index(drop=True)

In [11]:
screen_timing.drop('time', axis=1, inplace=True)
screen_timing.drop('state', axis=1, inplace=True)

In [12]:
screen_timing = screen_timing.loc[[i for i in range(0, num_screens, 2)]]
screen_timing = screen_timing.reset_index(drop=True)

In [13]:
screen_timing['Start'] = start_times
screen_timing['Stop'] = stop_times

In [14]:
screen_timing.head()

,SubjectID,Phase,Start,Stop
0,1,0,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,0,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,0,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00

In [15]:
screen_timing

,SubjectID,Phase,Start,Stop
0,1,0,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,0,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,0,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00
5,1,1,2018-01-19 12:54:32.739561-05:00,2018-01-19 12:54:44.729414-05:00
6,1,1,2018-01-19 12:54:51.248097-05:00,2018-01-19 12:55:03.278194-05:00
7,1,1,2018-01-19 12:55:08.072735-05:00,2018-01-19 12:55:20.089074-05:00
8,1,1,2018-01-19 12:55:28.847232-05:00,2018-01-19 12:55:40.869221-05:00
9,1,1,2018-01-19 12:55:47.165072-05:00,2018-01-19 12:55:59.184827-05:00
10,1,1,2018-01-19 12:56:06.070051-05:00,2018-01-19 12:56:18.082542-05:00
11,1,1,2018-01-19 12:56:22.856574-05:00,2018-01-19 12:56:34.864467-05:00
12,1,1,2018-01-19 12:56:43.234037-05:00,2018-01-19 12:56:55.248862-05:00
13,1,1,2018-01-19 12:56:59.980234-05:00,2018-01-19 12:57:12.010796-05:00
14,1,1,2018-01-19 12:57:17.790029-05:00,2018-01-19 12:57:29.788268-05:00
15,1,2,2018-01-19 12:58:19.824480-05:00,2018-01-19 12:58:49.201879-05:00
16,1,2,2018-01-19 12:59:04.727621-05:00,2018-01-19 12:59:41.485301-05:00
17,1,3,2018-01-19 13:00:30.199754-05:00,2018-01-19 13:02:14.630116-05:00
18,1,3,2018-01-19 13:02:23.414041-05:00,2018-01-19 13:03:17.187014-05:00
19,1,3,2018-01-19 13:03:24.252595-05:00,2018-01-19 13:04:28.275072-05:00
20,1,3,2018-01-19 13:04:32.756172-05:00,2018-01-19 13:05:07.008739-05:00
21,1,3,2018-01-19 13:05:11.447188-05:00,2018-01-19 13:05:56.419842-05:00
22,1,3,2018-01-19 13:06:01.563383-05:00,2018-01-19 13:06:56.744521-05:00
23,1,3,2018-01-19 13:07:01.195853-05:00,2018-01-19 13:07:53.016462-05:00
24,1,3,2018-01-19 13:07:56.742684-05:00,2018-01-19 13:08:19.665055-05:00
25,1,3,2018-01-19 13:08:23.731730-05:00,2018-01-19 13:09:16.892578-05:00
26,1,3,2018-01-19 13:09:20.863704-05:00,2018-01-19 13:10:43.597823-05:00
27,1,3,2018-01-19 13:10:47.619189-05:00,2018-01-19 13:11:14.316151-05:00
28,2,0,2018-01-19 12:52:38.717913-05:00,2018-01-19 12:52:50.781590-05:00
29,2,0,2018-01-19 12:52:57.790869-05:00,2018-01-19 12:53:09.877051-05:00
30,2,0,2018-01-19 12:53:14.907063-05:00,2018-01-19 12:53:27.482320-05:00
31,2,1,2018-01-19 12:53:50.192937-05:00,2018-01-19 12:54:02.278465-05:00
32,2,1,2018-01-19 12:54:10.127570-05:00,2018-01-19 12:54:22.191943-05:00
33,2,1,2018-01-19 12:54:27.218757-05:00,2018-01-19 12:54:39.296621-05:00
34,2,1,2018-01-19 12:54:45.792206-05:00,2018-01-19 12:54:57.847587-05:00
35,2,1,2018-01-19 12:55:02.582222-05:00,2018-01-19 12:55:14.641911-05:00
36,2,1,2018-01-19 12:55:23.343670-05:00,2018-01-19 12:55:35.421128-05:00
37,2,1,2018-01-19 12:55:41.686342-05:00,2018-01-19 12:55:53.744284-05:00
38,2,1,2018-01-19 12:56:00.591674-05:00,2018-01-19 12:56:12.661397-05:00
39,2,1,2018-01-19 12:56:17.350543-05:00,2018-01-19 12:56:29.418177-05:00
40,2,1,2018-01-19 12:56:37.744843-05:00,2018-01-19 12:56:49.879835-05:00
41,2,1,2018-01-19 12:56:54.518765-05:00,2018-01-19 12:57:06.564006-05:00
42,2,1,2018-01-19 12:57:12.281715-05:00,2018-01-19 12:57:24.347981-05:00
43,2,2,2018-01-19 12:58:15.439240-05:00,2018-01-19 12:58:43.701953-05:00
44,2,2,2018-01-19 12:58:58.931236-05:00,2018-01-19 12:59:36.061676-05:00
45,2,3,2018-01-19 13:00:25.493565-05:00,2018-01-19 13:01:00.798934-05:00
46,2,3,2018-01-19 13:01:06.685825-05:00,2018-01-19 13:02:43.013672-05:00
47,2,3,2018-01-19 13:02:51.090941-05:00,2018-01-19 13:04:13.283404-05:00
48,2,3,2018-01-19 13:04:19.468612-05:00,2018-01-19 13:06:31.599753-05:00
49,2,3,2018-01-19 13:06:39.468972-05:00,2018-01-19 13:07:44.973131-05:00
50,2,3,2018-01-19 13:07:48.720103-05:00,2018-01-19 13:09:19.827581-05:00
51,2,3,2018-01-19 13:09:26.359661-05:00,2018-01-19 13:10:46.836171-05:00
52,2,3,2018-01-19 13:10:58.056334-05:00,2018-01-19 13:11:40.561349-05:00
53,2,3,2018-01-19 13:11:44.655404-05:00,2018-01-19 13:12:28.841103-05:00
54,2,3,2018-01-19 13:12:35.293436-05:00,2018-01-19 13:13:04.035037-05:00
55,2,3,2018-01-19 13:13:08.358114-05:00,2018-01-19 13:13:42.942498-05:00

In [16]:
# Add the order sequence to the timing file
order = [i for i in range(1,4)] + [i for i in range(1,13)] + [i for i in range(1,3)] + [i for i in range(1, 12)]
order = order + order
screen_timing.insert(loc=2, column='Order', value=pd.Series(order, index=screen_timing.index))
screen_timing

,SubjectID,Phase,Order,Start,Stop
0,1,0,1,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,0,2,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,0,3,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,2,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00
5,1,1,3,2018-01-19 12:54:32.739561-05:00,2018-01-19 12:54:44.729414-05:00
6,1,1,4,2018-01-19 12:54:51.248097-05:00,2018-01-19 12:55:03.278194-05:00
7,1,1,5,2018-01-19 12:55:08.072735-05:00,2018-01-19 12:55:20.089074-05:00
8,1,1,6,2018-01-19 12:55:28.847232-05:00,2018-01-19 12:55:40.869221-05:00
9,1,1,7,2018-01-19 12:55:47.165072-05:00,2018-01-19 12:55:59.184827-05:00
10,1,1,8,2018-01-19 12:56:06.070051-05:00,2018-01-19 12:56:18.082542-05:00
11,1,1,9,2018-01-19 12:56:22.856574-05:00,2018-01-19 12:56:34.864467-05:00
12,1,1,10,2018-01-19 12:56:43.234037-05:00,2018-01-19 12:56:55.248862-05:00
13,1,1,11,2018-01-19 12:56:59.980234-05:00,2018-01-19 12:57:12.010796-05:00
14,1,1,12,2018-01-19 12:57:17.790029-05:00,2018-01-19 12:57:29.788268-05:00
15,1,2,1,2018-01-19 12:58:19.824480-05:00,2018-01-19 12:58:49.201879-05:00
16,1,2,2,2018-01-19 12:59:04.727621-05:00,2018-01-19 12:59:41.485301-05:00
17,1,3,1,2018-01-19 13:00:30.199754-05:00,2018-01-19 13:02:14.630116-05:00
18,1,3,2,2018-01-19 13:02:23.414041-05:00,2018-01-19 13:03:17.187014-05:00
19,1,3,3,2018-01-19 13:03:24.252595-05:00,2018-01-19 13:04:28.275072-05:00
20,1,3,4,2018-01-19 13:04:32.756172-05:00,2018-01-19 13:05:07.008739-05:00
21,1,3,5,2018-01-19 13:05:11.447188-05:00,2018-01-19 13:05:56.419842-05:00
22,1,3,6,2018-01-19 13:06:01.563383-05:00,2018-01-19 13:06:56.744521-05:00
23,1,3,7,2018-01-19 13:07:01.195853-05:00,2018-01-19 13:07:53.016462-05:00
24,1,3,8,2018-01-19 13:07:56.742684-05:00,2018-01-19 13:08:19.665055-05:00
25,1,3,9,2018-01-19 13:08:23.731730-05:00,2018-01-19 13:09:16.892578-05:00
26,1,3,10,2018-01-19 13:09:20.863704-05:00,2018-01-19 13:10:43.597823-05:00
27,1,3,11,2018-01-19 13:10:47.619189-05:00,2018-01-19 13:11:14.316151-05:00
28,2,0,1,2018-01-19 12:52:38.717913-05:00,2018-01-19 12:52:50.781590-05:00
29,2,0,2,2018-01-19 12:52:57.790869-05:00,2018-01-19 12:53:09.877051-05:00
30,2,0,3,2018-01-19 12:53:14.907063-05:00,2018-01-19 12:53:27.482320-05:00
31,2,1,1,2018-01-19 12:53:50.192937-05:00,2018-01-19 12:54:02.278465-05:00
32,2,1,2,2018-01-19 12:54:10.127570-05:00,2018-01-19 12:54:22.191943-05:00
33,2,1,3,2018-01-19 12:54:27.218757-05:00,2018-01-19 12:54:39.296621-05:00
34,2,1,4,2018-01-19 12:54:45.792206-05:00,2018-01-19 12:54:57.847587-05:00
35,2,1,5,2018-01-19 12:55:02.582222-05:00,2018-01-19 12:55:14.641911-05:00
36,2,1,6,2018-01-19 12:55:23.343670-05:00,2018-01-19 12:55:35.421128-05:00
37,2,1,7,2018-01-19 12:55:41.686342-05:00,2018-01-19 12:55:53.744284-05:00
38,2,1,8,2018-01-19 12:56:00.591674-05:00,2018-01-19 12:56:12.661397-05:00
39,2,1,9,2018-01-19 12:56:17.350543-05:00,2018-01-19 12:56:29.418177-05:00
40,2,1,10,2018-01-19 12:56:37.744843-05:00,2018-01-19 12:56:49.879835-05:00
41,2,1,11,2018-01-19 12:56:54.518765-05:00,2018-01-19 12:57:06.564006-05:00
42,2,1,12,2018-01-19 12:57:12.281715-05:00,2018-01-19 12:57:24.347981-05:00
43,2,2,1,2018-01-19 12:58:15.439240-05:00,2018-01-19 12:58:43.701953-05:00
44,2,2,2,2018-01-19 12:58:58.931236-05:00,2018-01-19 12:59:36.061676-05:00
45,2,3,1,2018-01-19 13:00:25.493565-05:00,2018-01-19 13:01:00.798934-05:00
46,2,3,2,2018-01-19 13:01:06.685825-05:00,2018-01-19 13:02:43.013672-05:00
47,2,3,3,2018-01-19 13:02:51.090941-05:00,2018-01-19 13:04:13.283404-05:00
48,2,3,4,2018-01-19 13:04:19.468612-05:00,2018-01-19 13:06:31.599753-05:00
49,2,3,5,2018-01-19 13:06:39.468972-05:00,2018-01-19 13:07:44.973131-05:00
50,2,3,6,2018-01-19 13:07:48.720103-05:00,2018-01-19 13:09:19.827581-05:00
51,2,3,7,2018-01-19 13:09:26.359661-05:00,2018-01-19 13:10:46.836171-05:00
52,2,3,8,2018-01-19 13:10:58.056334-05:00,2018-01-19 13:11:40.561349-05:00
53,2,3,9,2018-01-19 13:11:44.655404-05:00,2018-01-19 13:12:28.841103-05:00
54,2,3,10,2018-01-19 13:12:35.293436-05:00,2018-01-19 13:13:04.035037-05:00
55,2,3,11,2018-01-19 13:13:08.358114-05:00,2018-01-19 13:13:42.942498-05:00

In [17]:
screen_timing.head()

,SubjectID,Phase,Order,Start,Stop
0,1,0,1,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,0,2,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,0,3,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,2,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00

In [18]:
screen_timing.shape

(56, 5)

## Phase 1: Load Game Pair Order

In [19]:
pair_order = pd.read_csv('data/PairOrder.xls', sep='\t')
pair_order

    GamePairOrder  Period  SubjectID  Phase  Order  GamePairID
0   GamePairOrder       1          1      0      1           1
1   GamePairOrder       1          1      0      2           2
2   GamePairOrder       1          1      0      3           3
3   GamePairOrder       1          1      1      1           1
4   GamePairOrder       1          1      1      2           2
5   GamePairOrder       1          1      1      3           3
6   GamePairOrder       1          1      1      4           4
7   GamePairOrder       1          1      1      5           5
8   GamePairOrder       1          1      1      6           6
9   GamePairOrder       1          1      1      7           7
10  GamePairOrder       1          1      1      8           8
11  GamePairOrder       1          1      1      9           9
12  GamePairOrder       1          1      1     10          10
13  GamePairOrder       1          1      1     11          11
14  GamePairOrder       1          1      1     12          12
15  GamePairOrder       1          1      2      1           1
16  GamePairOrder       1          1      2      2           1
17  GamePairOrder       1          1      3      1           1
18  GamePairOrder       1          1      3      2           2
19  GamePairOrder       1          1      3      3           4
20  GamePairOrder       1          1      3      4           3
21  GamePairOrder       1          1      3      5           7
22  GamePairOrder       1          1      3      6          12
23  GamePairOrder       1          1      3      7           5
24  GamePairOrder       1          1      3      8           6
25  GamePairOrder       1          1      3      9          10
26  GamePairOrder       1          1      3     10          11
27  GamePairOrder       1          1      3     11           9
28  GamePairOrder       1          2      0      1           1
29  GamePairOrder       1          2      0      2           2
30  GamePairOrder       1          2      0      3           3
31  GamePairOrder       1          2      1      1           1
32  GamePairOrder       1          2      1      2           2
33  GamePairOrder       1          2      1      3           3
34  GamePairOrder       1          2      1      4           4
35  GamePairOrder       1          2      1      5           5
36  GamePairOrder       1          2      1      6           6
37  GamePairOrder       1          2      1      7           7
38  GamePairOrder       1          2      1      8           8
39  GamePairOrder       1          2      1      9           9
40  GamePairOrder       1          2      1     10          10
41  GamePairOrder       1          2      1     11          11
42  GamePairOrder       1          2      1     12          12
43  GamePairOrder       1          2      2      1           1
44  GamePairOrder       1          2      2      2           1
45  GamePairOrder       1          2      3      1           1
46  GamePairOrder       1          2      3      2           4
47  GamePairOrder       1          2      3      3           3
48  GamePairOrder       1          2      3      4           2
49  GamePairOrder       1          2      3      5           5
50  GamePairOrder       1          2      3      6          12
51  GamePairOrder       1          2      3      7          11
52  GamePairOrder       1          2      3      8           6
53  GamePairOrder       1          2      3      9           7
54  GamePairOrder       1          2      3     10           9
55  GamePairOrder       1          2      3     11          10

In [20]:
pair_order.shape

(56, 6)

#### Merge the Game Pair Order and Screen Timing

In [21]:
timing = pd.merge(pair_order, screen_timing, left_on=['SubjectID', 'Phase', 'Order'], right_on=['SubjectID', 'Phase', 'Order'])

In [22]:
timing.drop(['GamePairOrder'], axis=1, inplace=True)
timing

,Period,SubjectID,Phase,Order,GamePairID,Start,Stop
0,1,1,0,1,1,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,1,0,2,2,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,1,0,3,3,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,1,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,1,2,2,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00
5,1,1,1,3,3,2018-01-19 12:54:32.739561-05:00,2018-01-19 12:54:44.729414-05:00
6,1,1,1,4,4,2018-01-19 12:54:51.248097-05:00,2018-01-19 12:55:03.278194-05:00
7,1,1,1,5,5,2018-01-19 12:55:08.072735-05:00,2018-01-19 12:55:20.089074-05:00
8,1,1,1,6,6,2018-01-19 12:55:28.847232-05:00,2018-01-19 12:55:40.869221-05:00
9,1,1,1,7,7,2018-01-19 12:55:47.165072-05:00,2018-01-19 12:55:59.184827-05:00
10,1,1,1,8,8,2018-01-19 12:56:06.070051-05:00,2018-01-19 12:56:18.082542-05:00
11,1,1,1,9,9,2018-01-19 12:56:22.856574-05:00,2018-01-19 12:56:34.864467-05:00
12,1,1,1,10,10,2018-01-19 12:56:43.234037-05:00,2018-01-19 12:56:55.248862-05:00
13,1,1,1,11,11,2018-01-19 12:56:59.980234-05:00,2018-01-19 12:57:12.010796-05:00
14,1,1,1,12,12,2018-01-19 12:57:17.790029-05:00,2018-01-19 12:57:29.788268-05:00
15,1,1,2,1,1,2018-01-19 12:58:19.824480-05:00,2018-01-19 12:58:49.201879-05:00
16,1,1,2,2,1,2018-01-19 12:59:04.727621-05:00,2018-01-19 12:59:41.485301-05:00
17,1,1,3,1,1,2018-01-19 13:00:30.199754-05:00,2018-01-19 13:02:14.630116-05:00
18,1,1,3,2,2,2018-01-19 13:02:23.414041-05:00,2018-01-19 13:03:17.187014-05:00
19,1,1,3,3,4,2018-01-19 13:03:24.252595-05:00,2018-01-19 13:04:28.275072-05:00
20,1,1,3,4,3,2018-01-19 13:04:32.756172-05:00,2018-01-19 13:05:07.008739-05:00
21,1,1,3,5,7,2018-01-19 13:05:11.447188-05:00,2018-01-19 13:05:56.419842-05:00
22,1,1,3,6,12,2018-01-19 13:06:01.563383-05:00,2018-01-19 13:06:56.744521-05:00
23,1,1,3,7,5,2018-01-19 13:07:01.195853-05:00,2018-01-19 13:07:53.016462-05:00
24,1,1,3,8,6,2018-01-19 13:07:56.742684-05:00,2018-01-19 13:08:19.665055-05:00
25,1,1,3,9,10,2018-01-19 13:08:23.731730-05:00,2018-01-19 13:09:16.892578-05:00
26,1,1,3,10,11,2018-01-19 13:09:20.863704-05:00,2018-01-19 13:10:43.597823-05:00
27,1,1,3,11,9,2018-01-19 13:10:47.619189-05:00,2018-01-19 13:11:14.316151-05:00
28,1,2,0,1,1,2018-01-19 12:52:38.717913-05:00,2018-01-19 12:52:50.781590-05:00
29,1,2,0,2,2,2018-01-19 12:52:57.790869-05:00,2018-01-19 12:53:09.877051-05:00
30,1,2,0,3,3,2018-01-19 12:53:14.907063-05:00,2018-01-19 12:53:27.482320-05:00
31,1,2,1,1,1,2018-01-19 12:53:50.192937-05:00,2018-01-19 12:54:02.278465-05:00
32,1,2,1,2,2,2018-01-19 12:54:10.127570-05:00,2018-01-19 12:54:22.191943-05:00
33,1,2,1,3,3,2018-01-19 12:54:27.218757-05:00,2018-01-19 12:54:39.296621-05:00
34,1,2,1,4,4,2018-01-19 12:54:45.792206-05:00,2018-01-19 12:54:57.847587-05:00
35,1,2,1,5,5,2018-01-19 12:55:02.582222-05:00,2018-01-19 12:55:14.641911-05:00
36,1,2,1,6,6,2018-01-19 12:55:23.343670-05:00,2018-01-19 12:55:35.421128-05:00
37,1,2,1,7,7,2018-01-19 12:55:41.686342-05:00,2018-01-19 12:55:53.744284-05:00
38,1,2,1,8,8,2018-01-19 12:56:00.591674-05:00,2018-01-19 12:56:12.661397-05:00
39,1,2,1,9,9,2018-01-19 12:56:17.350543-05:00,2018-01-19 12:56:29.418177-05:00
40,1,2,1,10,10,2018-01-19 12:56:37.744843-05:00,2018-01-19 12:56:49.879835-05:00
41,1,2,1,11,11,2018-01-19 12:56:54.518765-05:00,2018-01-19 12:57:06.564006-05:00
42,1,2,1,12,12,2018-01-19 12:57:12.281715-05:00,2018-01-19 12:57:24.347981-05:00
43,1,2,2,1,1,2018-01-19 12:58:15.439240-05:00,2018-01-19 12:58:43.701953-05:00
44,1,2,2,2,1,2018-01-19 12:58:58.931236-05:00,2018-01-19 12:59:36.061676-05:00
45,1,2,3,1,1,2018-01-19 13:00:25.493565-05:00,2018-01-19 13:01:00.798934-05:00
46,1,2,3,2,4,2018-01-19 13:01:06.685825-05:00,2018-01-19 13:02:43.013672-05:00
47,1,2,3,3,3,2018-01-19 13:02:51.090941-05:00,2018-01-19 13:04:13.283404-05:00
48,1,2,3,4,2,2018-01-19 13:04:19.468612-05:00,2018-01-19 13:06:31.599753-05:00
49,1,2,3,5,5,2018-01-19 13:06:39.468972-05:00,2018-01-19 13:07:44.973131-05:00
50,1,2,3,6,12,2018-01-19 13:07:48.720103-05:00,2018-01-19 13:09:19.827581-05:00
51,1,2,3,7,11,2018-01-19 13:09:26.359661-05:00,2018-01-19 13:10:46.836171-05:00
52,1,2,3,8,6,2018-01-19 13:10:58.056334-05:00,2018-01-19 13:11:40.561349-05:00
53,1,2,3,9,7,2018-01-19 13:11:44.655404-05:00,2018-01-19 13:12:28.841103-05:00
54,1,2,3,10,9,2018-01-19 13:12:35.293436-05:00,2018-01-19 13:13:04.035037-05:00
55,1,2,3,11,10,2018-01-19 13:13:08.358114-05:00,2018-01-19 13:13:42.942498-05:00

In [23]:
subject_1_timing = timing.loc[timing.SubjectID == 1].reset_index(drop=True)
subject_2_timing = timing.loc[timing.SubjectID == 2].reset_index(drop=True)

In [24]:
subject_1_timing

,Period,SubjectID,Phase,Order,GamePairID,Start,Stop
0,1,1,0,1,1,2018-01-19 12:52:42.999642-05:00,2018-01-19 12:52:55.195631-05:00
1,1,1,0,2,2,2018-01-19 12:53:02.695930-05:00,2018-01-19 12:53:15.302756-05:00
2,1,1,0,3,3,2018-01-19 12:53:22.896308-05:00,2018-01-19 12:53:34.942321-05:00
3,1,1,1,1,1,2018-01-19 12:53:58.724374-05:00,2018-01-19 12:54:10.738688-05:00
4,1,1,1,2,2,2018-01-19 12:54:15.587406-05:00,2018-01-19 12:54:27.621169-05:00
5,1,1,1,3,3,2018-01-19 12:54:32.739561-05:00,2018-01-19 12:54:44.729414-05:00
6,1,1,1,4,4,2018-01-19 12:54:51.248097-05:00,2018-01-19 12:55:03.278194-05:00
7,1,1,1,5,5,2018-01-19 12:55:08.072735-05:00,2018-01-19 12:55:20.089074-05:00
8,1,1,1,6,6,2018-01-19 12:55:28.847232-05:00,2018-01-19 12:55:40.869221-05:00
9,1,1,1,7,7,2018-01-19 12:55:47.165072-05:00,2018-01-19 12:55:59.184827-05:00
10,1,1,1,8,8,2018-01-19 12:56:06.070051-05:00,2018-01-19 12:56:18.082542-05:00
11,1,1,1,9,9,2018-01-19 12:56:22.856574-05:00,2018-01-19 12:56:34.864467-05:00
12,1,1,1,10,10,2018-01-19 12:56:43.234037-05:00,2018-01-19 12:56:55.248862-05:00
13,1,1,1,11,11,2018-01-19 12:56:59.980234-05:00,2018-01-19 12:57:12.010796-05:00
14,1,1,1,12,12,2018-01-19 12:57:17.790029-05:00,2018-01-19 12:57:29.788268-05:00
15,1,1,2,1,1,2018-01-19 12:58:19.824480-05:00,2018-01-19 12:58:49.201879-05:00
16,1,1,2,2,1,2018-01-19 12:59:04.727621-05:00,2018-01-19 12:59:41.485301-05:00
17,1,1,3,1,1,2018-01-19 13:00:30.199754-05:00,2018-01-19 13:02:14.630116-05:00
18,1,1,3,2,2,2018-01-19 13:02:23.414041-05:00,2018-01-19 13:03:17.187014-05:00
19,1,1,3,3,4,2018-01-19 13:03:24.252595-05:00,2018-01-19 13:04:28.275072-05:00
20,1,1,3,4,3,2018-01-19 13:04:32.756172-05:00,2018-01-19 13:05:07.008739-05:00
21,1,1,3,5,7,2018-01-19 13:05:11.447188-05:00,2018-01-19 13:05:56.419842-05:00
22,1,1,3,6,12,2018-01-19 13:06:01.563383-05:00,2018-01-19 13:06:56.744521-05:00
23,1,1,3,7,5,2018-01-19 13:07:01.195853-05:00,2018-01-19 13:07:53.016462-05:00
24,1,1,3,8,6,2018-01-19 13:07:56.742684-05:00,2018-01-19 13:08:19.665055-05:00
25,1,1,3,9,10,2018-01-19 13:08:23.731730-05:00,2018-01-19 13:09:16.892578-05:00
26,1,1,3,10,11,2018-01-19 13:09:20.863704-05:00,2018-01-19 13:10:43.597823-05:00
27,1,1,3,11,9,2018-01-19 13:10:47.619189-05:00,2018-01-19 13:11:14.316151-05:00

In [26]:
subject_2_timing

,Period,SubjectID,Phase,Order,GamePairID,Start,Stop
0,1,2,0,1,1,2018-01-19 12:52:38.717913-05:00,2018-01-19 12:52:50.781590-05:00
1,1,2,0,2,2,2018-01-19 12:52:57.790869-05:00,2018-01-19 12:53:09.877051-05:00
2,1,2,0,3,3,2018-01-19 12:53:14.907063-05:00,2018-01-19 12:53:27.482320-05:00
3,1,2,1,1,1,2018-01-19 12:53:50.192937-05:00,2018-01-19 12:54:02.278465-05:00
4,1,2,1,2,2,2018-01-19 12:54:10.127570-05:00,2018-01-19 12:54:22.191943-05:00
5,1,2,1,3,3,2018-01-19 12:54:27.218757-05:00,2018-01-19 12:54:39.296621-05:00
6,1,2,1,4,4,2018-01-19 12:54:45.792206-05:00,2018-01-19 12:54:57.847587-05:00
7,1,2,1,5,5,2018-01-19 12:55:02.582222-05:00,2018-01-19 12:55:14.641911-05:00
8,1,2,1,6,6,2018-01-19 12:55:23.343670-05:00,2018-01-19 12:55:35.421128-05:00
9,1,2,1,7,7,2018-01-19 12:55:41.686342-05:00,2018-01-19 12:55:53.744284-05:00
10,1,2,1,8,8,2018-01-19 12:56:00.591674-05:00,2018-01-19 12:56:12.661397-05:00
11,1,2,1,9,9,2018-01-19 12:56:17.350543-05:00,2018-01-19 12:56:29.418177-05:00
12,1,2,1,10,10,2018-01-19 12:56:37.744843-05:00,2018-01-19 12:56:49.879835-05:00
13,1,2,1,11,11,2018-01-19 12:56:54.518765-05:00,2018-01-19 12:57:06.564006-05:00
14,1,2,1,12,12,2018-01-19 12:57:12.281715-05:00,2018-01-19 12:57:24.347981-05:00
15,1,2,2,1,1,2018-01-19 12:58:15.439240-05:00,2018-01-19 12:58:43.701953-05:00
16,1,2,2,2,1,2018-01-19 12:58:58.931236-05:00,2018-01-19 12:59:36.061676-05:00
17,1,2,3,1,1,2018-01-19 13:00:25.493565-05:00,2018-01-19 13:01:00.798934-05:00
18,1,2,3,2,4,2018-01-19 13:01:06.685825-05:00,2018-01-19 13:02:43.013672-05:00
19,1,2,3,3,3,2018-01-19 13:02:51.090941-05:00,2018-01-19 13:04:13.283404-05:00
20,1,2,3,4,2,2018-01-19 13:04:19.468612-05:00,2018-01-19 13:06:31.599753-05:00
21,1,2,3,5,5,2018-01-19 13:06:39.468972-05:00,2018-01-19 13:07:44.973131-05:00
22,1,2,3,6,12,2018-01-19 13:07:48.720103-05:00,2018-01-19 13:09:19.827581-05:00
23,1,2,3,7,11,2018-01-19 13:09:26.359661-05:00,2018-01-19 13:10:46.836171-05:00
24,1,2,3,8,6,2018-01-19 13:10:58.056334-05:00,2018-01-19 13:11:40.561349-05:00
25,1,2,3,9,7,2018-01-19 13:11:44.655404-05:00,2018-01-19 13:12:28.841103-05:00
26,1,2,3,10,9,2018-01-19 13:12:35.293436-05:00,2018-01-19 13:13:04.035037-05:00
27,1,2,3,11,10,2018-01-19 13:13:08.358114-05:00,2018-01-19 13:13:42.942498-05:00

In [27]:
subject_1_timing.to_csv('data/subject_1_timing.csv')
subject_2_timing.to_csv('data/subject_2_timing.csv')